In [2]:
# Import dependencies
import csv
import glob
import pandas as pd

In [3]:
#merge all csv files
citibike_files = glob.glob("data/*.csv") 
df = pd.concat((pd.read_csv(f, header = 0) for f in citibike_files))

In [4]:
#verify the shape of the data
df.shape

(101046, 15)

In [5]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,06:20.6,30:18.0,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,2
1,264,02:42.1,07:06.1,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,2
2,254,20:28.1,24:42.1,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,1
3,429,33:30.5,40:40.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,1
4,805,38:32.9,51:58.2,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,1

In [6]:
df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [7]:
#change gender to string
df['gender'] = df['gender'].astype(str)

In [8]:
#replace number values with genders
gender_df = df['gender']
df_male = gender_df.replace('1', 'Male')
df_female = df_male.replace('2', 'Female')
df_unknown = df_female.replace('0', 'Unknown')
df['gender'] = df_unknown
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1437,06:20.6,30:18.0,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,Female
1,264,02:42.1,07:06.1,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,Female
2,254,20:28.1,24:42.1,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,Male
3,429,33:30.5,40:40.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,Male
4,805,38:32.9,51:58.2,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,Male

In [9]:
#get the age of users
df['Age'] = pd.Timestamp('now').year - df['birth year']
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Age
0,1437,06:20.6,30:18.0,3678,Fairmount Ave,40.725726,-74.071959,3678,Fairmount Ave,40.725726,-74.071959,42314,Customer,2002,Female,18
1,264,02:42.1,07:06.1,3207,Oakland Ave,40.737604,-74.052478,3195,Sip Ave,40.730897,-74.063913,42146,Subscriber,1963,Female,57
2,254,20:28.1,24:42.1,3678,Fairmount Ave,40.725726,-74.071959,3195,Sip Ave,40.730897,-74.063913,42255,Subscriber,1981,Male,39
3,429,33:30.5,40:40.2,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42529,Subscriber,1964,Male,56
4,805,38:32.9,51:58.2,3193,Lincoln Park,40.724605,-74.078406,3195,Sip Ave,40.730897,-74.063913,42362,Subscriber,1965,Male,55

In [11]:
# Export merged/cleaned file as a CSV
df.to_csv("data/citibike_final.csv", index=False)